@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Monsieur+La+Doulaise&family=Noto+Sans+SC:wght@100..900&family=Tulpen+One&display=swap');

.alex-brush-regular {
    font-family: "Alex Brush", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
  }
  