.black {
    background-color: rgb(41, 41, 41);
    color: white;
}

.fixed-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    width: 220px;
    overflow-y: auto;
  }

@media (max-width: 768px) {
    .fixed-sidebar {
        width: 80px;
        right: 0;
        display: none;
    }
}